
<nav>
  <ul>
    <li><a href="/blog-three-tier/" class="{% if page.url == base_url %}active{% endif %}">Home</a></li>
    <li><a href="/blog-three-tier/part1/" class="{% if page.url == base_url+'part1/' %}active{% endif %}">Part 1</a></li>
    <li><a href="/blog-three-tier/part2/" class="{% if page.url == base_url+'part2/' %}active{% endif %}">Part 2</a></li>
    <li><a href="/blog-three-tier/part3/" class="{% if page.url == base_url+'part3/' %}active{% endif %}">Part 3</a></li>
  </ul>
</nav>
