{% assign base_url = "/blog-three-tier/" %}

<nav>
  <ul>
    <li><a href="{{ base_url }}" class="{% if page.url == base_url %}active{% endif %}">Home</a></li>
    <li><a href="{{ base_url }}part1/" class="{% if page.url == base_url+'part1/' %}active{% endif %}">Part 1</a></li>
    <li><a href="{{ base_url }}part2/" class="{% if page.url == base_url+'part2/' %}active{% endif %}">Part 2</a></li>
    <li><a href="{{ base_url }}part3/" class="{% if page.url == base_url+'part3/' %}active{% endif %}">Part 3</a></li>
  </ul>
</nav>
